.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}


body{
    background-color: black;
    height: calc(var(--vh, 1vh) * 100);
}

main{
    height: calc(var(--vh, 1vh) * 100);
}
h1 span {
    color: #f9004d;
}

.title{
    line-height: 76px;
    
}

header {
    height: 60px;
    
}

.flexbox {
    display: flex;
}

.title {
    width: 40%;
    height: 60%;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 36px;
    font-family: "Roboto", sans-serif;
    color: #dcdcdc;
    letter-spacing: 0.2px;
}
.tag{
    font-size: 25px
    ;
    color: white;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    visibility: hidden;
}

nav {
    width: 40%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 18px;
    color: #dcdcdc;
    font-weight: 525;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    line-height: 60px;
    font-family: Madefor, Helvetica Neue, Helvetica, Arial, Hiragino Kaku Gothic Pro W3, Hiragino Kaku Gothic Pro, sans-serif !important;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li+li {
    margin-left: 18px;
}
.icon{
    width: 20%;
    text-align: right;
}
.main-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 24px;
} 





.row{
    display: grid;
    place-items: center;
    justify-items: center;
    margin-top: 50px;
    position: relative;
}

form textarea{
    resize:none;
    height:150px;
}
.main-box{

    background-color: #191919;
    border-radius: 4px;
}

 textarea{
    border:2px solid #191919;
    border-radius: 4px;
    display: block;
    width:440px;
    height: 120px;
    padding : 15px;
    font-size: 14px;
    margin-bottom: 20px;
    background-color: #191919;

    color: #d6d6d6;
}


button {
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: green;
    border: 2px solid green;
    border-radius: 4px;
    color:#fff;
    font-size: 18px;
    color:#fff;
    font-size: 18px;
    margin-left: 80px;
   margin-bottom: 20px;
}
.shapes{
    width:440px;
    /* height:100px; */
    background-color: #fff;
     padding: 20px;
    box-sizing: border-box; 
    border-radius: 5px ;
}

.shapes2{
    width:380px;
    /* height:100px; */
    background-color: #fff;
     padding: 20px;
    box-sizing: border-box; 
    border-radius: 5px ;
}

.child{
    display: grid;
    place-items: center;
    justify-items: center;
    gap:30px;
    margin-top: 30px;
}

.icons{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    margin-top: 24px;
    background-image: url(../img/butterfly-gdc7bad913_1920.jpg);
}

.image{
    display: flex;
}

h3{
    margin-top: 33px;
    margin-left: 10px;
}

.date{
    margin-left: 140px;
    margin-top: 33px;
}

.second-image{
    height: 200px;
    width:400px;
}

p{
    color: #d6d6d6;
    margin-left: 560px;
    font-size: 24px;
    font-family:sans-serif ;
    animation: disappear 5s ease-in-out;
}
.file{
    color:#fff;
    font-size: 16px;
}

@keyframes disappear{
     from{
        opacity:1;
    }
    to{
        opacity:0;
    } 
    
}
::-webkit-file-upload-button {
    display: none;
}
label{
    color:#fff;
    margin-left: 5px;
}

button{
    margin-right: 5px;
}
